<!DOCTYPE html>
<html  lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


 <!-- header section strats -->
 <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span sec:authorize="!isAuthenticated()">
            <h1>Attendance Management System</h1>

          </span>
        </a>

       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mx-auto ">
            <span sec:authorize="!isAuthenticated()">
           
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/}">Home </a>
            </li>
           </span> 
            <span sec:authorize="!isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            </span>
            <span sec:authorize="!isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">login</a>
            </li>
          </span>
          <span sec:authorize="hasRole('ROLE_ADMIN')">

            <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/addCourse}">Course</a>
            </li>
          </span>
        
          <span sec:authorize="hasRole('ROLE_ADMIN')" >

            <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/addTeacher}" >Teacher</a>
            </li>
          </span>
          <span sec:authorize="hasRole('ROLE_ADMIN')">

            <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/addStudent}" > Student</a>
            </li>
          </span>
          <span sec:authorize="hasRole('ROLE_ADMIN')">

            <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/addEnrollment}">Enrollment</a>
            </li>
          </span>
         
          <span sec:authorize="hasRole('ROLE_TEACHER')">

            <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/attendance}" > Attendance</a>
            </li>
          </span>
          <span sec:authorize="hasRole('ROLE_TEACHER')">

            <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/viewReport}">Report</a>
            </li>
          </span>
         
                <span sec:authorize="!isAuthenticated()">

                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutUs}" >AboutUs</a>
                    
                  </li></span>
                
                <span sec:authorize="isAuthenticated()">

                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" >Logout</a>
                    
                  </li></span>
                
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
   
</html>