<!DOCTYPE html>
<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head th:replace="~{/fragments/head::head}"></head>
      <body class="sub_page">
      
        <div class="hero_area">
           <div class="bg-box">
            <img th:src="@{/resources/static/images/hero-bg.png}" alt="">
          </div>
          <header th:replace="~{/fragments/header::header}"></header>
        </div>
      
     <!-- Alt+Shift+A <div style="width:100%;height: 400px;">
        <center style="margin:40px 30px;">
            <h1>Attendance Management System</h1>
        </center>   
       </div>  
       
      --> 
      <section class="about_section layout_padding">
        <div class="container">
         
       
      <div class="bg-box" style="width:100%;height: 150%;margin:100px 0px;">
        <img th:src="@{/resources/static/images/3235815.jpg}" alt="">
      </div>
     </div>
     </section>
     <div style="margin: 800px 0px 10px;">
 <!--  <footer th:replace="~{/fragments/footer::footer}">
    <!-- end about section -->
<!--   </footer>
 -->  --> </div>
  
  </body>
  </html>